<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Surewin</title>
    <link rel="stylesheet" href="/css/app.{{ htmlWebpackPlugin.options.dateTimeHash }}.css">
</head>
<body>
    <div id="main-container">
        <script src="/js/app.{{ htmlWebpackPlugin.options.dateTimeHash }}.js"></script>
    </div>
</body>
</html>