{{> header }}
Homepage content. <a href="{{ h.basePath }}/about">Goto about.</a>
<br>
<img src="https://corporate.homedepot.com/sites/default/files/styles/thumbnail/public/Home%20Selling%20Header_800x800.jpg" alt="" srcset="">